
<div class="background">
  <div class="overlay" style=" position: absolute;width: 100%; height: 100vh;text-align: left;">

    <div class="navbar-brand">
      <%= link_to 'FitsMe', root_path, class: "log-1" %>
    </div>
      <div class="recommendation-container">
          <div class="row">
            <div class="column1">
              <%= image_tag "Schwarz-93-scaled.jpg", alt: "Black Blazer", height: 300, width: 250, style: "object-fit: cover" %>
            </div>
            <div class="column2">
              <h1>FitsMe recommends size:</h1>
              <div class="animation">
                <h2> <%= display_abbreviation(@user_product.product_size.size_name) %></h2>
              </div>
              <span>in the Saenguin <%= @user_product.product_size.product.name %></span>
              <!-- <span> in the Saenguin <strong>Black double-breasted jacket</strong></span> -->
              <p>Thank you for completing our quiz!</p>
              <div style="width: 150px; margin: 0 auto;">
                <a class="new-medium-button text-center pl-0" href="https://saenguin.com/product/double-breasted-black-jacket/">Add to cart<i class="fas fa-shopping-cart"></i></a>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
