
<br>
<div class="form-container">
  <div class = "d-flex justify-content-center align-items-center container p-3">
    <div class="form-card">
      <h1>Yay, your size is Medium </h1>


      <%= link_to 'Return home', root_path %>
      <br>
    </div>
  </div>
</div>
