<div class="background">

  <div class="overlay" style=" position: absolute;width: 100%; height: 100vh;text-align: left;">
    <div class="navbar-brand">
      <a class="log-1" href="http://www.fitsmesizing.com/">Fits<span>Me</span></a>
    </div>
    <div class="col-md-12">
      <div class="recommendation-container">
        <h1>FitsMe recommends size:</h1>
        <div class="size-rec">
          <%= image_tag "Schwarz-100-scaled.jpg", alt: "Ivory blouse", height: 200, width: 150, style: "object-fit: cover" %>
          <div class="animation">
            <h1>M</h1>
          </div>
        </div>
        <span>in the Saenguin Ivory Blouse</span>
        <p>Thank you for completing our quiz!</p>
        <p>Click bellow to shop this product:</p>
        <div style="width: 150px; margin: 0 auto;">
          <a class="new-medium-button text-center pl-0" href="https://saenguin.com/product/blouse-ivory/">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
