
<br>
<div class="card-transformation">
  <div class="form-container">
    <div class="form-card">
      <h1>Yay, your size is Medium </h1>


      <%= link_to 'Return home', root_path %>
      <br>
    </div>
  </div>
</div>
