<br>
<div class="card-transformation">
  <div class="form-container">
    <div class="form-card">
      <img src="https://img01.ztat.net/article/spp-media-p1/c4efdf10dd943019b611ab545eee1b6f/cc76477b8b88481eb31dcb44ee1a3500.jpg?imwidth=1800" height="400" width="300">
      <h1>Based on your fit details we recommend a size <strong>XS</strong> in the Bershka <strong>Leather Jacket</strong>. </h1>
      <p>Click the button below to shop this product:</p>
      <a href="https://www.zalando.de/bershka-lederjacke-black-bej21g06e-q11.html?size=XS&allophones=0&wmc=SEM490_NB_GO._7713128529_677809369_38274310207.&opc=2211&mpp=google%7cv1%7c%7cpla-261708391139%7c%7c9061135%7c%7cg%7cc%7c%7c149790718250%7c%7cpla%7cBEJ21G06E-Q1100XS000%7c261708391139%7c1%7c&gclid=Cj0KCQiAst2BBhDJARIsAGo2ldWEl1mn0NmM9XesidqM72yPCl7Md4HAk0B7KdEKtErc5pNPTcopoYwaAljXEALw_wcB&gclsrc=aw.ds"> Add to cart</a>
      <br>
    </div>
  </div>
</div>
