// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF;
$lightgrey: #F1F2F6;
$beige: #FFEDD6;
$burntorange: #CD7613;
$darkgrey: #514f59;
$nightblue: #001429;
$black: #000000;
