.form-container {
  background-color: white;
  width: 700px;
  margin: 0 auto;
  z-index: 1000;
  position: absolute;
  top: 0;
  transform: translate(20px, 20px);
  padding: 20px;
}

.card-transformation {
  height: 670px;
  position: relative;
  background-color: #FFEDD6;
  width: 700px;
  margin: 0 auto;
}

.submit-button {
  background-color: #CD7613;
  border-radius: 8px;
}

.btn.btn-med {
  background-color: #CD7613;
  border-radius: 8px;
}
