.quiz-container {
  margin: auto;
  text-align: center;
  // border: 2px solid white;
  color: white;
  border-radius: 22px;
  width: 700px;
  padding: 40px;
  height: 88vh;
  }

a {
  color: white;
  font-size: 30px;
  padding-left: 15px;

  &:hover {
    text-decoration: none;
    color: $burntorange;
  }
}

#sizeForm {
    background-color: transparent !important;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    font-family: "Open sans condensed";
}

.navbar-brand {
  color: #fff;
}

.submit-button {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 8px;
  color: #906600;
}

.btn.btn-med:hover {
  font-style: italic;
}

/* Style the form */
#sizeForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#prevBtn {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 8px;
  color: #906600;

  &:hover {
    color: $burntorange;
  }
}

#nextBtn {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 8px;
  color: #906600;

  &:hover {
    color: $burntorange;
  }
}
// ///////////////////////////////////////////////////////////////////////////

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  // background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: white;
}
