.quiz-container {
  margin: auto;
  text-align: center;
  color: white;
  border-radius: 22px;
  width: 700px;
  padding: 40px;
  padding-top: 50px;
  height: 88vh;
  }

h1 {
  font-weight: bold;
}

a {
  color: white;
  font-size: 30px;
  padding-left: 15px;

  &:hover {
    text-decoration: none;
    color: $burntorange;
  }
}

p {
  color: #F1ECE2;
  font-weight: bold;
}

// .form-control:focus {
//   border-color: inherit;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

.form-control {
  display: block;
  width: 100%;
  font-family: inherit;
  color: rgb(241, 236, 226);
  padding: 0px 0px 8px;
  border: none;
  outline: none;
  border-radius: 0px;
  appearance: none;
  background-image: none;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  transform: translateZ(0px);
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  -webkit-text-fill-color: rgba(241, 236, 226, 0.3);
  animation: 1ms ease 0s 1 normal none running native-autofill-in;
  transition: background-color 1e+08s ease 0s, box-shadow 0.1s ease-out 0s;
  box-shadow: rgba(241, 236, 226, 0.3) 0px 1px;
  background-color: transparent !important;
}

button {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 4px;
  color: #906600;
  font-weight: bold;
  padding: 4px 15px;
  margin-right: 10px;
}

#sizeForm {
    background-color: transparent !important;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    font-family: "Open sans condensed";
}

.navbar-brand {
  color: #fff;
}

.submit-button {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 8px;
  color: #906600;
  font-weight: bold;
}

.btn.btn-med:hover {
  font-style: italic;
}

/* Style the form */
#sizeForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

#prevBtn {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 4px;
  color: #906600;

  &:hover {
    color: $burntorange;
  }
}

#nextBtn {
  background-color: #F1ECE2;
  border: 2px solid #F1ECE2;
  border-radius: 4px;
  color: #906600;

  &:hover {
    color: $burntorange;
  }
}
// ///////////////////////////////////////////////////////////////////////////

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  // background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #F1ECE2;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: rgb(110, 6, 0);
}
