.recommendation-container {
  background-image: url(asset_path('white.png'));
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: .9;
  margin: 0 auto;
  text-align: center;
  border: none;
  opacity: .9;
  color: $burntorange;
  border-radius: 22px;
  background-color: white;
  width: 700px;
  padding: 40px;
  padding-top: 50px;
  height: 88vh;
}

.logo {
  color: white;
  justify-self: center !important;
  font-size: 40px;
  }

.recommendation-container h1 {
  font-family: "roboto";
  font-weight: 400;
  font-size: 25px;
  // margin-bottom: 15px;
}

.column2 h2 {
  font-size: 96px;
  font-weight: 700;
  color: black;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.column1 {
  float: left;
  width: 50%;
}

.column1 img {
  border-radius: 22px;
}

.recommendation-container span {
  font-size: 25px;
  font-weight: 400;
}


.recommendation-container p {
  font-family: "roboto";

  font-size: 18px;
  color: $burntorange;
  font-weight: 300;
  margin-top: 10px;
}

.new-medium-button {
  margin: auto;
  text-align: center;
}

