.recommendation-container {
  margin: 0 auto;
  text-align: center;
  border: none;
  color: $burntorange;
  font-weight: bold;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 700px;
  padding: 40px;
  padding-top: 50px;
  height: 88vh;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 22px;
}

h1 {
  font-family: "open sans condensed";
  font-size: 30px;
}

.small-text {
  font-family: "roboto";
  font-size: 20px;
  color: $burntorange;
}

.new-medium-button {
  margin: auto;
  text-align: center;
}

