<div class= "border-bottom">
  <div class="d-flex justify-content-between align-items-center container p-3">
    <h1>FitsMe</h1>
    <h2 class="btn btn-primary">Stuff</h2>
    <p>Other stuff!</p>
  </div>
</div>



