<div class= "border-bottom border-warning navbar-blue">
  <div class="d-flex justify-content-between align-items-center container p-3">
    <h1>FitsMe</h1>
    <div>
      <%= link_to 'Customer', new_customer_datum_path, class: "btn btn-nav" %>
      <%= link_to 'Brand', new_brand_path, class: "btn btn-nav" %>
    </div>
  </div>
</div>




