.btn-orange-big {
    // padding: 8px 24px;
    border-radius: 8px;
    background: $orange;
    color: $white;
    font-size: 50;
    transition: background 0.3s ease;
    width: 247px;
    height: 85px;
  }
  
  .btn-orange-big:hover {
    background: $orange;
    color: $black;
    opacity: 0.2;
  }

  .btn-nav {
    border: 1px solid #CD7613;
    box-sizing: border-box;
    filter: drop-shadow(0px 6px 4px #000000);
    border-radius: 8px;
    color: white;
    transition: background 0.3s ease;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .btn-nav:hover {
    background: $white;
    opacity: 0.8;
  }

  .btn-white {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    filter: drop-shadow(0px 6px 4px #000000);
    border-radius: 8px;
    color: $white;
    transition: background 0.3s ease;
    width: 400px;
    height: 100px;
    justify-content: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
  }

  .btn-white-2 {
    border: 4px solid $beige;
    box-sizing: border-box;
    filter: drop-shadow(0px 6px 4px #000000);
    border-radius: 8px;
    color: $beige;
    transition: background 0.3s ease;
    width: 400px;
    height: 300px;
    justify-content: center;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 50px;
  }

  .btn-white:hover {
    background: $white;
    opacity: 0.8;
  }

  .btn-white-2:hover {
    background: $white;
    opacity: 0.8;
  }

  .btn-brand-sign {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background: #CD7613;
    border: 2px solid #CD7613;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .btn-size {
    width: 150px;
    height: 138.46px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 6px dashed #001428;
    box-sizing: border-box;
    border-radius: 8px;
  }