
<div class="banner">

            <div class="col-md-12">


                <nav class="navbar">


                    <div class="navbar-brand">
                        <h1>Fits<span>Me</span></h1>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Sign in</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6 info">
                <h1 class="text-left">Seamless Sizing, Brand Agnostic</h1>
                <p class="text-left">
                    The World top apparel companies use FitsMe to conect clothing to customers, boost conversation and slash returne.
                </p>

                <a href="<%= products_path %>" class="btn">Join Us</a>

            </div>
  

</div>

        <%#= image_tag 'background.png', style: "height: 100vh;
	          width: 130%; background-position: top; background-size: cover; background-repeat: no-repeat;"%>





    <div class="overlay ">

    </div>









<%
=begin%>
 <!-- Start Homepage Section-->

    <section class="home">
        <div class="container">

            <div class="main-container">
              <%= image_tag 'fitsme.png', style: "height: 100vh;
	                background-size: cover; margin: 60px; border-radius: 8px;opacity: 0.8;"%>
              <div class="homepage">
                <h1>Seamless Sizing. <br> Brand Agnostic. <br> Advancing E-commerce.</h1>
                <a href="<%= products_path %>" class="btn">Here.</a>
              </div>

            </div>

        </div>
    </section>

    <!-- End Homepage Section--> 
<%
=end%>
