<!-- Start brand_product page Section-->

    <section class="home">
        <div class="main_container">
        </div>

        <div class="brand_products">
            <div class="container">
                <div class="row">
                  <h1 class="p-3">Select Your Brand</h1>
                </div>
                <br>
                <div class="row">
                  <div class="index-grid">
                    <%= link_to 'New', new_brand_path, class: "btn-white"%>
                    <%= link_to 'Returning', new_brand_path, class: "btn-white"%>
                    </div>
                    </div>
                  </div> 
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="container">
                    <p><%= link_to 'New Here? No Problem.', new_brand_path %></p>
                  </div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Start brand_product page Section--> 