<div class="d-flex justify-content-between align-items-center container p-5">
  <div class="brand-card" >
    <br>
    <br>
    <div class="brand-card-sm">
       <h1>Brand Registration</h1>
       <%= render 'shared/brandform' %>
    </div>
    <%#= link_to 'Add your products', brand_products_path %>
  </div>
</div>