<div class="d-flex justify-content-between align-items-center container p-5">
  <div class="brand-card" >
    <br>
    <br>
    <div class="brand-card-sm">
       <h1>Registration</h1>
       <%= render 'shared/brandform' %>
    </div>
    <% if @brands.empty?%>
    <%= link_to 'Add your brand', new_brand_path %>

    <% else  %>

    <% end %>

  </div>
</div>